.question-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px;
    margin: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto; /* Center horizontally */
    width: 100%; /* Ensures responsiveness for smaller screens */
    align-items: center;
    background-color: #FFFFFF;
}

.buttons-section {
    display: flex;
    gap: 20px; /* Adds 20px space between the buttons */
    justify-content: center; /* Optional: center the buttons horizontally */
    margin-top: 20px; /* Optional: adds space above the buttons section */
}

.mcq-choices {
    list-style-type: none;
    margin-right: 50px;
    margin-bottom: 20px;
}



.edit-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    max-width: 500px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container within the parent */
    padding: 20px; /* Optional: adds some padding around the content */
}

.input {
    width: 100%; /* Make inputs take full width of the container */
    max-width: 500px; /* Ensure no input surpasses 500px */
    margin-bottom: 10px; /* Spacing between inputs */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
}

.choices {
    margin-bottom: 20px; /* Spacing between inputs */
    width: 100%; /* Make inputs take full width of the container */
    display: flex;
    align-items: center; /* Center items horizontally */
    flex-direction: column; /* Stack items vertically */

}

.delete-choices {
    margin-left: 15px;
}


.matrix-gap {
    gap: 20px;
}